
background-image: url("https://focusonbelgium.be/sites/default/files/styles/big_article_image/public/shutterstock_515581882.jpg?itok=3EPaPcG1");
background-repeat: no-repeat;
background-position: right bottom;




